<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-icon-button aria-label="Open sidenav">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span>RC-I1</span>
        <span class="full-spacer"></span>
    </mat-sidenav-content>
</mat-sidenav-container>